<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='shortcuticon.jpg') }}">

    <title>Error Correction Project</title>
     <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
             tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
         });
    </script>
    <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<!-------------------------------------------------CONTAINER----------------------------------------------------------->
<body style="background-color: rgba(215, 252, 204, 0.32);">

<div id="container"> <!-- everything on the screen -->
    <div id="for_header" style="background-color: #8ab282;border-radius: 10px;">
    <h1 style="color: white; font-family: 'Open Sans', arial; font-size:42px; margin-bottom:20px; text-align: center;"> Decoding is beautiful </h1>
    <h2 style="color: white; font-family: 'Open Sans', arial; font-size: 20px; marging-bottom:30px; text-align: center;">Demonstrating 7,4 Hamming Codes</h2>
    </div>
<!-------------------------------------------------MAGIC STARTS HERE--------------------------------------------------->


    <div id="body_background" style="border-radius: 10px; padding-top:10%; background-color:rgba(215, 252, 204, 0.32); margin-bottom: 10%; " >
<!--rgba(215, 252, 204, 0.32)-->
        <div id="for_input" style="width: 40%; margin-bottom: 100px; background-color:#a0ce96; border-radius: 10px; margin-left: 5%" spellcheck="true">
    <form id='input' method="post" action="/" style="border-radius: 10px;">
            <div style="margin-left: 5%;">
            <label for='input'> <h3 style="font-family: 'Open Sans', arial; color:#ffffff;">Type your string in here:</h3>
                <p style="color:white;"><i>(Please use letters)</i></p> </label> <br/>  <!--this comes just before the text field-->
                <input name="input" type='text' placeholder="{{message}}" height="100px"; style="width: 150px; height: 100px; font-size: 16px; border-radius: 10px;">
            </div>
            <br> <!--this tag is moving to thee next line-->

           <!--deleted vB everything rgba(215, 252, 204, 0.32)-->
        <div id="for_button" style="margin-left: 5%; padding-bottom: 20px;"> <!-- need this div just to change the margin of the button-->
         <input id="encode_button" type="submit" value="Let's encode">
        </div>
        <!--added some css3 style below-->
        <style>
            #encode_button {
            border-radius: 3px;
            box-shadow: 1px 1px #72846f;
            }

            #encode_button:hover {
            background-color: #d1d8d0;
            border: 1px solid #ccc;
            }
             #encode_button:active {
             background-color:#a0ce96
             }
            #for_input {
            box-shadow: 5px 5px #d1d8d0;}
            h1 { shadow: 2px 2px #d1d8d0;
            }
        </style>

    </form>


        </div>
<!---------------------------------------------------RESULT------------------------------------------------------------>
     <div class="for_solutions" style=" float: right; width: 50%; height:300px; padding-left: 15px; padding-bottom:15px; background-color:#a0ce96;font-family: 'Open Sans', arial;
        border-radius: 10px;  margin-bottom: 40%; box-shadow: 5px 5px #d1d8d0;">
       <h4 id="result_block" style="font-family: 'Open Sans', arial; margin-left: 10%; color: white;">Resulting code block:</h4>
       <div id="pereshkody" style="margin-left: 20%;">
           <label for="wrongsol" style="color:white;"> After sending through the noisy channel:</label>
       <p id="wrongsol"> {{wr_solution}} </p>
        <label for="wrong_bins" style="color:white;"> Mistakes found in this positions:</label>
       <p id="wrong_bins"> {{er_bits}}</p>
       </div>
        <div id="fixed_message" style="padding-bottom: 3%; margin-left: 20%;">
        <label for="binary_str" style="color:white;"> Binary string for this message is:</label>
            <p id="binary_str">{{fixed_bin}}</p>
        <label for="wrongsol" style="color:white;">After fixing the message with the method of Hamming:</label>
       <p id="rightsol">{{r_solution}} </p>
            </div>

         </div>
       <!--<p id="message_"> {{message}}</p>-->


    </div>
<!---------------------------------------------------RESULT--STYLE----------------------------------------------------->

    <style>
        #result-block {
        font-color: white;
        padding-left: 6px;}
        #result_block, #wrongsol, #rightsol{
        font-family: 'Open Sans', arial;
       }
       h4, h3 {
       font-size: 20px;
       }
    </style>




</div>
</body>

</html>